.navbar {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 24px;
}

.navbar__title {
  font-size: 28px;
}

.navbar__search {
  display: flex;
  align-items: end;
  margin-right: 16px;
}

.navbar__search-input {
  margin-left: 16px;
}

.navbar__user-logged {
  display: flex;
  align-items: top;
  justify-content: start;
}

.navbar__user-name {
  margin-left: 4px;
  text-align: start;
}

.navbar__register {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}

.navbar__btn-users {
  border-bottom: 1px;
  border: 1px solid red;
}